@(id: Long, usernameForm: Form[String], passwordForm: Form[(String, String)])(implicit ctx: Context)

@import helper.twitterBootstrap._

@application("Edit User") {
  <h1>Edit User</h1>

  @helper.form(action = routes.Users.change_username(id)) {
    <h2>Change Username</h2>

    @helper.inputText(usernameForm("username"))

    <div class="form-actions">
      <input type="submit" class="btn" value="Change Username">
    </div>
  }


  @helper.form(action = routes.Users.change_password(id)) {
    <h2>Change Password</h2>

    @helper.inputPassword(passwordForm("password"))
    @helper.inputPassword(passwordForm("confirm"))

    <div class="form-actions">
      <input type="submit" class="btn" value="Change Password">
    </div>
  }

  <a href="@routes.Users.index" class="btn">Cancel</a>

}