@(id: Long, userForm: Form[accounting.User])(implicit ctx: Context)

@import helper.twitterBootstrap._

@application("Edit User") {
  <h1>Edit User</h1>

  @helper.form(action = routes.Users.update(id)) {

    @helper.inputText(userForm("username"))

    @helper.inputPassword(userForm("password.main"))
    @helper.inputPassword(userForm("password.confirm"))


    <div class="actions">
      <input type="submit" class="btn primary" value="save">
      <a href="@routes.Users.index" class="btn">Cancel</a>
    </div>



  }

}