@()(implicit context: ContextedRequest)
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Project name</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          Hello,
          <a href="#" class="navbar-link">
            @if(context.context.isAnonymous) {
              @context.context.getUsername.map { username =>
                @username
              }
            }
          </a>

          <a href="@routes.Auth.logout()">Logout</a>
        </p>
        <ul class="nav">
          <li class="active"><a href="@routes.Application.index()">Home</a></li>
          <li><a href="@routes.Users.index()">Users</a></li>
          <li><a href="@routes.Application.help()">Help</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>